body {
    text-align: center;
}

@media only screen and (min-width: 700px) {
    #criteria {
        display: flex;
        orientation: landscape;
    }
    #criteria div {
        margin: auto;
    }
}